Repository ConnorAndersonLarson/refactor-tractor, pull requests merged in 2021-02, with the labels that each got.

#43 Create Pull Request Template
  .github/pull_request_template.md
Labels: documentation, help wanted

#44 Add parameter to UserRepository class, update test
  package-lock.json
  package.json
  src/UserRepository.js
  test/UserRepository-test.js
Labels: class/test, javascript

#45 Feature/connect api
  src/scripts.js
Labels: feature, javascript

#51 Refactor/sleep class
  src/Sleep.js
  src/User.js
  src/UserRepository.js
  src/data/sleep-test-data.js
  src/data/sleep.js
  src/scripts.js
  test/Sleep-test.js
  test/User-test.js
Labels: class/test, javascript, refactor

#47 Refactor/hydrate class
  src/Hydration.js
  src/User.js
  src/UserRepository.js
  src/scripts.js
  test/Hydration-test.js
  test/User-test.js
Labels: hydration, javascript, needs review

#52 Refactor/activity class
  package-lock.json
  src/Activity.js
  src/Hydration.js
  src/User.js
  src/UserRepository.js
  src/data/activity-test-data.js
  src/scripts.js
  test/Activity-test.js
  test/Sleep-test.js
  test/User-test.js
Labels: class/test, javascript, refactor
