Repository ConnorAndersonLarson/refactor-tractor, pull requests merged in 2021-03, with the labels that each got.

#56 Refactor/user repository class
  src/UserRepository.js
  src/data/hydration-test-data.js
  src/scripts.js
  test/UserRepository-test.js
Labels: class/test, javascript, refactor

#60 Refactor/class inheritance
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/User.js
  src/css/styles.scss
  src/scripts.js
Labels: refactor

#62 Refactor/all class testing
  src/Activity.js
  src/Sleep.js
  src/User.js
  src/data/activity.js
  src/data/hydration.js
  test/Activity-test.js
  test/Hydration-test.js
  test/Sleep-test.js
  test/UserRepository-test.js
Labels: refactor

#63 Refactor/css button functionality
  src/css/_buttons.scss
  src/css/_mobile.scss
  src/css/_text-elements.scss
  src/css/_variables.scss
  src/css/styles.scss
  src/index.html
  src/scripts.js
Labels: CSS, HTML, UX UI, needs review

#64 Refactor/user class
  src/User.js
  src/UserRepository.js
  src/data/activity-test-data.js
  src/index.html
  src/scripts.js
  test/User-test.js
  test/UserRepository-test.js
Labels: class/test, javascript, refactor

#65 Display all user's sleep quality average on app
  src/index.html
  src/scripts.js
Labels: HTML, feature, javascript

#67 Refactor/event listeners
  src/index.html
  src/scripts.js
Labels: javascript, refactor

#70 Refactor/initialize function
  src/UserRepository.js
  src/scripts.js
Labels: javascript, refactor
